{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
                <h1 class="display-3">About Hixon Memorial Hall</h1>
                <p class="lead">Hixon Memorial Hall was built in 1926 as a place to remember and honour those from our
                rural community that did not return from WW1. It was built using money raised by
                Wilmot Martin ("Staffordshire's Henry Lauder") and some community events. After WW2,
                plaques to commemorate further losses were added to the hall. Hixon Memorial Hall has
                been at the heart of our community ever since.</p>
                <p class="lead">In 2019 the hall is home to a vast variety of groups and activities including a luncheon club
                for the older generations, a mother and baby group, exercise classes, craft groups, and
                the Historical Society. It also hosts personal special events such as birthdays and
                Christenings, and community events such as the Centenary Remembrance Day service. It
                is an extremely busy little hall and is the only community building within our rural
                neighbourhood that these events can take place.</p>
        </div>
    </div>
{% endblock %}