{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="display-3">Bookings</h1>
        </div>
        <div class="row">
            <div class="col">
                    <p>The hall is available for hire for all events and has hosted many parties, classes and
                    community activities.</p>
                    
                    <p>Exclusive Hire Costs:</p>
                    
                    <ul>
                        <li>£9 per hour for daytime or weekday evenings.</li>
                        <li>£40 for Friday all evening/night</li>
                        <li>£75 for Saturday all evening/night</li>
                    </ul>   
                    
                    <p>We do not charge for set up time prior to your event or tidying up post your event.</p>
                    
                    <p>For more information or if you wish to book please e-mail our Booking Secretary, Karen
                    on karenappleton2@gmail.com</p>
            </div>
            <div class="col">
                <form class="form">
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.phone.errors }}
                        <label for="{{ form.phone.id_for_label }}">Phone Number</label>
                        {{ form.phone }}
                    </div>
                    <div class="form-group">
                        {{ form.date.errors }}
                        <label for="{{ form.date.id_for_label }}">Date Requested</label>
                        {{ form.date }}
                    </div>
                    <div class="form-group">
                        {{ form.info.errors }}
                        <label for="{{ form.info.id_for_label }}">Additional Information</label>
                        {{ form.info }}
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}