{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
                <h1 class="display-3">The Management Committee</h1>
                <p class="lead">Hixon Memorial Hall is a registered charity. The maintenance and running of the hall is
                overseen by a team of volunteers. This group is voted in at the AGM held in December of
                each year and serve for one year until re-election. The committee meets once a month.</p>
            </div>
            <div class="row">
                <figure class="col figure">
                    <img src="https://loremflickr.com/300/300?random=1" class="img-fluid rounded">
                    <figcaption class="font-weight-bold">Chairperson</figcaption>
                    <figcaption class="font-weight-light">Mark Farrington</figcaption>
                </figure>
                <figure class="col figure">
                    <img src="https://loremflickr.com/300/300?random=2" class="img-fluid rounded">
                    <figcaption class="font-weight-bold">Vice Chair</figcaption>
                    <figcaption class="font-weight-light">Pete Appleton</figcaption>
                </figure>
                <figure class="col figure">
                    <img src="https://loremflickr.com/300/300?random=3" class="img-fluid rounded">
                    <figcaption class="font-weight-bold">Secretary</figcaption>
                    <figcaption class="font-weight-light">Jane Garner</figcaption>
                </figure>
                <figure class="col figure">
                    <img src="https://loremflickr.com/300/300?random=4" class="img-fluid rounded">
                    <figcaption class="font-weight-bold">Treasurer & Booking Secretary</figcaption>
                    <figcaption class="font-weight-light">Karen Appleton</figcaption>
                </figure>
            </div>
            <div class="row">
                <p class="font-weight-bold">Non-elected Committee Members</p>
            </div>
            <div class="row">
                <p class="font-weight-light">Al Lawrence, Vicky Whitfield, Becky Whitfield</p>
            </div>
        </div>
    </div>
{% endblock %}