{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container">
            <h1 class="display-3">The 100 Club</h1>
            <p>Monthly draw for those who have registered and paid by the 1st of the month!</p>
            <p>Of the funds collected</p>
            <ul class="list-unstyled">
                <li>50% will go to Hixon Memorial Hall</li>
                <li>30% will go to first place</li>
                <li>15% will go to second place</li>
                <li>5% will go to third place</li>
            </ul>
            <p>All money collected for Hixon Memorial Hall will go towards vital maintenance and upkeep of the hall.</p>
    </div>
{% endblock %}