{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="display-3">Regular Events</h1>
        </div>
        <div>
            <dl class="row">
                {% for day in events %}
                <dt class="col-sm-3 border-bottom">{{ day.0 }}</dt>
                <dt class="col-sm-9 border-bottom">
                    {%for evt in day.1 %}
                    <div class="row">
                        <div class="col-sm-6"><p>{{evt.start|date:"P"}} - {{ evt.end|date:"P" }}</p></div>
                        <div class="col-sm-6">
                            <p>{{ evt.title }}</p>
                            <p class="font-weight-light">{{ evt.description|linebreaksbr }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </dt>
                {% endfor %}
            </dl>
            </ul>
        </div>
    </div>
{% endblock %}