{% extends 'base.html' %}
{% load i18n static hixon_filters %}

{% block extra_head %}
<script src="{% static 'rrule.min.js' %}"></script>
<script src="{% static 'rrule-nlp.js' %}"></script>
<script>
$(document).ready(() => {
    fetch("{% url 'get_regular_events' %}").then(res => res.json()).then(events => {
        events.forEach(evt => {
            let item = Object.create({
                summary: evt.summary,
                rules: evt.recurrence.map(r => RRule.fromString(r.replace('RRULE:', "")).toText())
            });
            let li = document.createElement('li');
            li.innerHTML = `${item.summary}: ${item.rules}` ;
            document.getElementById('events').appendChild(li);
        });
    });
});
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="display-3">Regular Events</h1>
        </div>
        <div class="row">
            <ul id="events"></ul>
        </div>
        <div>
            <dl class="row">
                {% for day in events %}
                <dt class="col-sm-3 border-bottom">{{ day.0 }}</dt>
                <dt class="col-sm-9 border-bottom">
                    {%for evt in day.1 %}
                    <div class="row">
                        <div class="col-sm-6"><p>{{evt.start|date:"P"}} - {{ evt.end|date:"P" }}</p></div>
                        <div class="col-sm-6">
                            <p>{{ evt.title }}</p>
                            <p class="font-weight-light">{{ evt.description|linebreaksbr }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </dt>
                {% endfor %}
            </dl>
            </ul>
        </div>
    </div>
{% endblock %}