{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}
<script src="{% static 'rrule.min.js' %}"></script>
<script src="{% static 'rrule-nlp.js' %}"></script>
<script>
$(document).ready(() => {
    fetch("{% url 'get_regular_events' %}").then(res => res.json()).then(events => {
        let weekdays = ["MO", "TU", "WE", "TH", "FR", "SA", "SU", "Other"];
        let weekDayStrings = ["Monday", "Tuesday", "Wednesday", "Thursday",
                                 "Friday", "Saturday", "Sunday", "Other"];
        let weeksEvents = {
            "MO": [],
            "TU": [],
            "WE": [],
            "TH": [],
            "FR": [],
            "SA": [],
            "SU": [],
            "Other": []
        }

        events.forEach(evt => {
            let summary = evt.summary;
            let rules = evt.recurrence.map(r => RRule.fromString(r.replace('RRULE:', "")));
            evt.rules = rules
            rules.forEach(rule => {
                let iter = rule.options.byweekday
                if(!iter && rule.options.bynweekday) {
                    iter = rule.options.bynweekday.map(wd => wd[0])
                }
                iter.forEach(weekday => weeksEvents[weekdays[weekday]].push(evt))
            })
        });

        let eventDiv = document.getElementById('events');
        weekdays.filter(day => weeksEvents[day].length > 0).forEach((day) => {
            let dayCol = document.createElement('dt');
            dayCol.setAttribute('class', "col-sm-3 border-bottom")
            dayCol.innerHTML = weekDayStrings[weekdays.indexOf(day)]
            
            let eventsCol = document.createElement('dt');
            eventsCol.setAttribute('class', "col-sm-9 border-bottom")

            weeksEvents[day]
                .sort((e, e2) => new Date(e.start.dateTime).setDate(1) - new Date(e2.start.dateTime).setDate(1))
                .forEach(evt => {
                let evtRow = document.createElement("div")
                evtRow.setAttribute('class', "row");

                let timeCol = document.createElement("div")
                timeCol.setAttribute('class', 'col-sm-6')
                let start = new Date(evt.start.dateTime).toLocaleTimeString('en-GB', {hour: '2-digit', minute:'2-digit', hour12: true})
                let end = new Date(evt.end.dateTime).toLocaleTimeString('en-GB', {hour: '2-digit', minute:'2-digit', hour12: true})
                timeCol.innerHTML = `${start} - ${end}`
                
                let detailCol = document.createElement("div")
                detailCol.setAttribute('class', 'col-sm-6')
                let description = (evt.description || "").replace(/(\r\n|\n|\r)/gm, "<br />");
                let rule = ""
                let rules = evt.rules.filter(r => r.options.freq !== RRule.WEEKLY)
                if(rules.length > 0){
                    rule = rules.map(r => {
                        let ruleStr = r.toText()
                        ruleStr = ruleStr.charAt(0).toUpperCase() + ruleStr.slice(1)
                        return `<p>${ruleStr}</p>`
                    }).join("")
                }
                detailCol.innerHTML = `<p>${evt.summary}<p>${rule}<p class="font-weight-light">${description}</p>`

                evtRow.appendChild(timeCol)
                evtRow.appendChild(detailCol)

                eventsCol.appendChild(evtRow);
            })
            
            eventDiv.appendChild(dayCol)
            eventDiv.appendChild(eventsCol)
        })
    })
    .finally(() => document.getElementById("loading").remove());
});
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="display-3">Regular Events</h1>
        </div>
        <div id="loading">
            <p class="lead text-center">
                Fetching Events...
            </h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        <div>
            <dl id="events" class="row"></dl>
        </div>
    </div>
{% endblock %}